.intro-post {
  position: relative;
  width: 100%;
  height: 800px;
  max-height: 100vh;
  background-image: url('/assets/slides/1r0a8928.jpg');
  background-size: cover;
  background-position: center center;
}